meta.json
__pycache__/
temp/
.coverage
.vscode/
htmlcov/
test_audio_files/
user_files/*.mp3
user_files/*.ogg
web/node_modules/
web/package-lock.json
# comtypes generated
external/comtypes/gen/
# these get built
/hypertts.js
/hypertts.css
# temporary files when testing
converted_wav.wav
generated_audio.mp3
generated_audio.ogg
.aider*
.cache/
.pki/
.venv/
