
.field-label-element {
    margin-left: 10px;
    font-size: 12px !important;
}

.lt-field-button {
    height: 18px;
    padding-top: 0px !important;
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 2px;
    margin-right: 2px;
    background-color: #d1c4e9;
    font-size: 12px !important;
    border: 1px solid #aaaaaa !important;
    border-radius: 4px !important;
}

.loading-indicator {
    font-style: italic;
}

.loading-indicator-hidden {
    display: none;
}

.generated-for {
    font-style: italic;
    margin-right: 5px;
}

.generated-for-hidden {
    display: none;
}

