# later versions seem to cause a crash during unit tests
PyQt6
PyQt6-Qt6
PyQt6-WebEngine
PyQt6-WebEngine-Qt6
aqt[qt6]
anki
pytest
pytest-qt
coverage
azure-cognitiveservices-speech
pydub
audioop-lts
python-magic
openai
urllib3<2
bump2version
argcomplete
pytest-xdist