# later versions seem to cause a crash during unit tests
# PyQt5
# PyQt5-Qt5
aqt==2.1.49
anki==2.1.49
pytest
pytest-qt
coverage
azure-cognitiveservices-speech
pydub
python-magic
openai
urllib3<2
bump2version